.btn-warning a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.bg-img {
    background-image: url(./images/pexels-rangga-aditya-armien-235226.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.344);
   
}

.btn-close {
    position: absolute;
}


.container-button {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.container-card-body {
    justify-content: space-around;
}

.container-edit-button {  
    display: flex;
    justify-content: center;
}

@media (min-width: 900px) {
    .container-flex {
        display: flex;
    }

    .container-flex #search {
        width: 30%;
    }

    .container-flex #app-container {
        width: 70%;
    }
}
